<div class="row">
    <div class="col-12">
        <h3 class="center">{{account.accountName}}</h3>
    </div>
    <div class="col-12"><h3 class="center">Баланс {{account.balance}} {{account.currency.name}}</h3></div>
    <div class="col-12 d-inline">
        <button class="btn btn-success d-inline button-margin" mat-button (click)="openSpendMoneyDialog()">Платеж</button>
        <button class="btn btn-success d-inline button-margin">Снятие налички</button>
        <button class="btn btn-success d-inline button-margin">Поступление</button>
    </div>
    <div class="col-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Место</th>
                <th>Сумма</th>
                <th>Остаток</th>
                <th>Дата</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ah of accountHistory">
                <td>{{ah.reason.name}}</td>
                <td>{{ah.value}}</td>
                <td>{{ah.balance}}</td>
                <td>{{ah.createDate | date:'dd.MM.yyyy'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
